<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/additems.css">
  </head>

  <body>
  	<form action="/api/items" method="post">
  		
  		<input type="text" name="name">
  		<input type="number" name="price">
  		<input type="number" name="quantity">


  		<input type="submit">
  	</form>
  </body>

</html>