bg = #222222
bg2 = #444444
text = #DDDDDD
neon = #FFFFFF
accent1 = #666666
accent2 = #888888

*
	box-sizing border-box

body
	background-color bg
	color text

input
	display block
	margin 16px auto

input[type="submit"]
	background-color white
	display block
	margin 16px auto