bg = #222222
bg2 = #444444
text = #DDDDDD
neon = #FFFFFF
accent1 = #666666
accent2 = #888888

*
	box-sizing border-box

body
	background-color bg
	color text

#searchbox
	color bg

h1
	text-align center
	color neon
	
h3
	text-align center
	
.four.columns
	background-color bg2
	border-radius 5px
	
ul
	padding 20px